@charset "UTF-8";
/* @font-face {
    font-family: 'sw';
    font-style: normal;
    font-weight: 700;
    src: url(../font/Subway-Footlong.eot);
    src: url(../font/Subway-Footlong.eot?#iefix) format('embedded-opentype'),
         url(../font/Subway-Footlong.woff) format('woff'),
         url(../font/Subway-Footlong.ttf) format('truetype');
} */


*, :before, :after {box-sizing: border-box;}

/* rem단위사용시 root요소에 폰트지정 */
/* html {font-size: 10px;} */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0,0,0,0.1);}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

/* button태그에 손모양 커서 */
button {cursor:pointer}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
/* 페이지안에서 가장 많은 링크색 지정 */
/* a태그컬러는 디자인시안상에 가장많은 컬러로 변경해야함 */
a {text-decoration: none; color: #666;}
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌
*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴 */
input,select,textarea,button {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border-radius: 0;
    /* 모바일 탭컬러 */
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);
    /* ios에서 폼요소에 선이 있을경우 그림자생성 방지 */
    -webkit-appearance:none;
    appearance: none;
}


/* textarea 리사이즈기능 빼기 */
textarea {resize: none}

/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
모바일 크롬, 모바일 사 파리 브라우져의 텍스트 자동확대 방지
*/
body {line-height: 1.5; -webkit-text-size-adjust:none}




/************** 공통스타일 *************/
body,input,button,select,textarea,table {
    font-family:'Lato','Noto Sans KR','맑은 고딕','malgun gothic',sans-serif;
    font-size: 15px;
    color:#666;
}

.xe_icon {font-family: 'xeicon';}


/* 스킵네비게이션 */
#skipNavi {position: relative;}
#skipNavi a { position: absolute; left:0; top:-9999px; width:100%; line-height: 40px; text-align: center; background: #ddd; font-size: 14px; z-index: 99999;}
#skipNavi a:hover, #skipNavi a:active, #skipNavi a:focus { top:0; }

/* 글자선택시 배경색,글자색 변경 */
/* ::-moz-selection {
    background-color: #ef151e;
    color: #ffffff
}
::selection {
    background-color: #ef151e;
    color: #ffffff;
} */

/* legend,caption,메뉴제목,섹션제목 블라인드
legend(폼제목),caption(표제목)을 시각적으로 보이지않게처리
*/
legend,caption,.blind,input[type="checkbox"],input[type="radio"],input[type="file"] {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}

/* overflow:hidden으로 float해제 못할경우 사용 */
.clearfix:after {
    content: '';
    display: block;
    clear:both;
}

/* 폰트컬러 공통 */
/* .orange {color:#eb6242 !important} */

/* 버튼 공통 */
.btn_detail {
    border: 1px solid #6e0000;
    display: block;
    text-align: center;
    width: 170px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #6e0000;
}

.btn_white {
    display: inline-block;
    line-height: 46px;
    border:2px solid #009223;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    color:#009223;
    text-align: center;
    box-sizing: border-box;
    margin:0 4px;
}
.btn_point {
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    color:#fff;
    text-align: center;
    box-sizing: border-box;
    background: #009223;
    margin:0 4px;
}
.btn_point:after {
    content: '';
    display: inline-block;
    width:21px;
    height:16px;
    background: url(../images/icon_reg.png) no-repeat;
    margin-left:5px;
}

.btn_line {
    display: inline-block;
    line-height: 26px;
    height: 30px;
    color:#fff;
    border:2px solid #fff;
    border-radius: 30px;
    padding: 0 12px;
}






/* 폼요소 공통 */
/* placeholder 공통컬러 */
/* 앞에 태그제거시 input,textarea 동시 적용 */
input::-webkit-input-placeholder {color:#bbbbbb;}
input:-moz-placeholder {color:#bbbbbb;} 
input::-moz-placeholder {color:#bbbbbb; opacity:1;}
/* 익스는 우선순위 높여야 색이 나옴 */
input:-ms-input-placeholder {color:#bbbbbb !important;}

textarea::-webkit-input-placeholder {color:#bbbbbb;}
textarea:-moz-placeholder {color:#bbbbbb;} 
textarea::-moz-placeholder {color:#bbbbbb; opacity:1;}
textarea:-ms-input-placeholder {color:#bbbbbb;}

/* ie10,ie11 input x버튼 가리기 */
input[type="text"]::-ms-clear {
    display: none;
}
/* ie10,ie11 input password 아이콘 가리기 */
input[type="password"]::-ms-reveal {
    display: none;
}


/* 일반적 방식 */
/* input[type="checkbox"]:checked + label:before {
    background: url(../images/icon_checkbox.png) no-repeat 50% 50%;
    background-size: 18px;
} */
input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    left:5px;
    top:0px;
    width:0px;
    height:20px;
    background: url(../images/icon_checkbox.png) no-repeat;
    transition:all 0.2s;
}
input[type="checkbox"]:checked + label:after { width:24px; }

/* input text 공통 */
input {outline: none;}
input[type="text"] {
    background: #f8f8f8;
    height: 45px;
    width:100%;
    border:none;
    padding: 0 15px;
    color:#292929;
    box-sizing: border-box;
}
input.input_small {width:200px;}

/* select 공통 */
.select_wrap {
    /* 테이블안에서 좌우는 인라인블럭 */
    display: inline-block;
    width:196px;
    border:2px solid #dddddd;
    box-sizing: border-box;
    position: relative;
}
.select_wrap select {
    width: 100%;
    height: 41px;
    border:none;
    padding-left:9px;
    color:#999999;
    outline: none;
    background: #fff;
}
/* 익스 화살표빼기 */
select::-ms-expand {
    display: none;
}

.select_wrap:after {
    content: '';
    position: absolute;
    right:10px;
    top:50%;
    width:12px;
    height:7px;
    margin-top: -3px;
    background: url(../images/icon_select_arr.png) no-repeat;
}

/* textarea 공통 */
textarea {
    background: #f8f8f8;
    border:none;
    width:100%;
    outline: none;
    padding: 15px;
    box-sizing: border-box;
}

/* ease */
.easeOutExpo {
	-webkit-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; /* easeOutExpo */
}

/* 글자색 공통 */
.txt_green {color: #2bb673;}
.txt_blue {color: #0ba9b5;}



/* 세로 스크롤영역 강제로 만들기 */
html {overflow-y:scroll; height:100%;}
body.on {overflow: hidden; height:100%;
    /* iOS 스크롤막기 */
    position: fixed;
    width:100%;
}

/* 최소단말사이즈로 지정 */
#wrap {min-width: 320px; position: relative; min-height:2500px}

#header {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100px;
    transition: all 0.3s;
    z-index: 9999;
}
#header.on {background: #fff;}
#header.on:after {height: 230px; opacity: 1;}
#header.on .gnb .depth2 {display: block;}


#header .header_inner {max-width: 1876px; padding: 0 15px; margin: 0 auto; height: 100px; position: relative;}



#header .logo {float: left;}

#header .gnb {float: left; margin-left:3.3%;}
#header .gnb .depth1>li {float: left; position: relative;}
#header .gnb .depth1>li>a {
    display: block;
    line-height: 100px;
    padding: 0 32px;
    color:#999;
    transition: all 0.5s;
    font-weight: 700;
    letter-spacing: -0.05em;
    position: relative;
}
#header .gnb .depth1>li>a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom:0;
    width:100%;
    height: 1px;
    background:#000;
    transform:scaleX(0);
    transition: all 0.4s;
}
#header .gnb .depth1>li:hover>a {color:#000;}
#header .gnb .depth1>li:hover>a:after {transform:scaleX(1);}

#header .gnb .depth2 {
    position: absolute;
    left:0;
    top:100px;
    height: 230px;
    padding-top: 30px;
    z-index: 100;
    width:100%;
    text-align: center;
    display: none;
}
#header .gnb .depth2 li {padding: 5px 0;}
#header .gnb .depth2 a {display: block; color:#999; transition: all 0.4s;}
#header .gnb .depth2 a:hover {color:#000;}

/* 우측 언어메뉴 */
#header .util_wrap {
    position: absolute;
    right:20px;
    top:50%;
    /* fixed요소 부모에 transform있을경우 fixed요소의 기준이 변경됨(버그) */
    /* transform:translateY(-50%); */
    margin-top:-15px;
}
#header .util_wrap .lang {float: left; border-radius:30px; overflow: hidden;}
#header .util_wrap .lang li {float: left; width:50px;}
#header .util_wrap .lang li a {
    display: block;
    line-height: 30px;
    background: #eee;
    font-size: 12px;
    text-align: center;
    color:#000;
    font-weight: 700;
}
#header .util_wrap .lang li.active a {
    background: linear-gradient(90deg, rgb(43,182,116),rgb(12,169,180));
    color:#fff;
}
#header .util_wrap .lang li:hover a {
    background: linear-gradient(90deg, rgb(43,182,116),rgb(12,169,180));
    color:#fff;
}


#header .util_wrap .btn_sitemap {
    float: left;
    width:32px;
    margin-left: 65px;
    padding: 5px 0;
}
#header .util_wrap .btn_sitemap span {
    display: block;
    width:20px;
    height:2px;
    background: #999;
    margin:4px auto;
}

/* 사이트맵 */
.popup_wrap {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    min-width: 320px;
    z-index: 99999;
    background: rgba(0,0,0,0.8);
    padding:0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup_wrap .popup {
    max-width: 1000px;
    width:100%;
    background: #fff;
    position: relative;
}
.popup_wrap .popup h2 {
    line-height: 60px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.05em;
    text-align: center;
    background: #0ba9b5;
    color: #fff;
}
.popup_wrap .popup .list_wrap {overflow: hidden; padding:30px;}
.popup_wrap .popup .list_wrap dl { float: left; width:20%; text-align: center; padding:0 4px;}
.popup_wrap .popup .list_wrap dt {padding-bottom: 20px; border-bottom: 1px solid #000; margin-bottom: 20px;}
.popup_wrap .popup .list_wrap dd a {display: block; padding:8px 0; font-size: 13px;}
.popup_wrap .popup .list_wrap dd a:hover {text-decoration: underline; color:#000;}

.popup_wrap .popup .btn_close {
    position: absolute;
    right:10px;
    top:10px;
    width:38px;
    height:38px;
    border:none;
    background: none;
}
.popup_wrap .popup .btn_close i {font-size: 38px; color:#fff;}


#header .btn_side {display: none;}
#header .side_menu {display: none;}

#header:after {
    content: '';
    position: absolute;
    left:0;
    top: 100px;
    transition: all 0.3s;
    width:100%;
    height: 0px;
    opacity:0;
    background: #fff;
    border-top:1px solid #eee;
}



/* 메인슬라이더 */
/* .main_slider_wrap  {height: 50vw;} */
.main_slider_wrap .main_slider {
    height: 850px;
    padding-bottom:50px;
    overflow: hidden;
}
.main_slider_wrap .main_slider .swiper-slide {
    background: url(../images/main_visual_01.jpg) no-repeat 80% 100%;
    background-size: cover;
}
.main_slider_wrap .main_slider .slide2 {
    background-image: url(../images/main_visual_02.jpg);
}
.main_slider_wrap .main_slider .txt_wrap {
    max-width: 1376px;
    padding:0 30px;
    width:100%;
    position: absolute;
    left: 50%;
    top:50%;
    transform:translateX(-50%);
    margin-top: -130px;
}
.main_slider_wrap .main_slider .txt_wrap p {
   color: #222;
   font-weight: 900;
   letter-spacing: 0.5em;
   transform:translateX(-50px);
   transition: transform 1s, opacity 1s;
   opacity: 0;
}
.main_slider_wrap .main_slider .txt_wrap h3 {
    font-size: 80px;
    font-weight: 900;
    color:#000;
    margin-top: 20px;
    line-height: 1.1;
    transform:translateX(-50px);
    transition: transform 1s 0.5s, opacity 1s 0.5s;
    opacity: 0;
}

/* swiper slideChange이벤트에서 사용 */
.main_slider_wrap .main_slider .swiper-slide.on .txt_wrap p {
    transition: transform 1s 2s, opacity 1s 2s;
}
.main_slider_wrap .main_slider .swiper-slide.on .txt_wrap h3 {
    transition: transform 1s 2.5s, opacity 1s 2.5s;
}


.main_slider_wrap .main_slider .slide2 .txt_wrap p {color:#fff;}
.main_slider_wrap .main_slider .slide2 .txt_wrap h3 {color:#fff;}
.main_slider_wrap .main_slider .slide2 .txt_wrap em {color:#fff;}

.main_slider_wrap .main_slider .slide2 .symbol {
    position: absolute;
    right:7%;
    bottom:30px;
    z-index: -1;
}
.main_slider_wrap .main_slider .swiper-slide-active .txt_wrap p,
.main_slider_wrap .main_slider .swiper-slide-active .txt_wrap h3 {
    transform:translateX(0);
    opacity: 1;
}

.main_slider_wrap .main_slider .btn_wrap {
    max-width: 1376px;
    width:100%;
    height:100px;
    padding: 0 30px;
    position: absolute;
    left:50%;
    bottom:0;
    z-index: 100;
    transform:translateX(-50%);
}
.main_slider_wrap .main_slider .btn_wrap .btn_arrow {
    width:100px;
    height:100px;
    left:15px;
    top:0;
    background: #2bb673;
    border-radius: 50%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_slider_wrap .main_slider .btn_wrap .btn_arrow i {
    color:#fff;
    font-size: 50px;
}
.main_slider_wrap .main_slider .btn_wrap .swiper-button-next {
    left:135px;
    background:#0ba9b5;
}

/* 모바일 메인비주얼 hidden */
.main_slider_wrap .main_slider .img_m {display: none;}


/* 메인 회사소개섹션 */
.main_com {max-width: 1730px; margin: 0 auto; padding:110px 15px 0; overflow: hidden;}
.main_com .left_com {
    width:520px;
    height: 700px;
    background: url(../images/main_con01_img01.jpg) no-repeat 50% 0;
    float: left;
    opacity: 0;
    transform: translateX(-100px);
    transition:  all 0.7s;
}
.main_com.on .left_com {opacity: 1; transform: translateX(0);}
.main_com .txt_con { padding: 60px 60px 0; }
.main_com .txt_con h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.025em;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.main_com .txt_con h3:after {
    content: '';
    position: absolute;
    left: 0;
    bottom:0;
    width:30px;
    height: 2px;
    background:#0ba9b5;
}
.main_com .txt_con li {margin-bottom: 10px;}

.main_com .left_com .txt_con {color:#fff;}
.main_com .left_com .txt_con h3:after {background: #fff;}

.main_com .right_com {
    float: left;
    width: calc(100% - 520px);
}
.main_com .right_com .bg {float: left; width:calc(100% - 360px); height:350px; background: url(../images/main_con01_img04.jpg) no-repeat 100% 0; transition:  all 0.4s;}
.main_com .right_com .bg .txt_wrap {padding:60px 60px 0; color:#fff; font-size: 20px;}

.main_com .right_com .txt_box {float: left; width:360px; height: 350px; opacity: 0; transform: translateX(200px);}
.main_com.on .right_com .txt_box {opacity: 1; transform: translateX(0); transition:  all 0.7s;}
.main_com .right_com2 .bg {float: right; background:url(../images/main_con01_img05.jpg) no-repeat 50% 0;}
.main_com .right_com .bg.bg1 {opacity: 0; transform: translateY(-200px);}
.main_com .right_com .bg.bg2 {opacity: 0; transform: translateY(200px);}
.main_com.on .right_com .bg.bg1 {opacity: 1; transform: translateY(0);}
.main_com.on .right_com .bg.bg2 {opacity: 1; transform: translateY(0);}
.main_com_m {display: none;}

.main_process {padding-top: 190px;}
.main_process .con_wrap {margin-top: 85px;}
.main_process .con_wrap .process_con { width: 100%; height: 200px; position: relative;  }
.main_process .con_wrap .process_con:before {content: ''; position: absolute; display: block; width: 100%; height: 1px; background: #ddd; top: 50%; margin-top: 4.5px;}


.main_process .con_wrap .process_con .process_list { display: block; width: 92%; padding: 0 4%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 100%; }


.main_process .con_wrap .process_con .process_list>li {position: relative; float: left; width: 12.5%; min-height: 200px; opacity: 1; transition: all 0.7s;}

.main_process .con_wrap .process_con .process_list>li .con_img {display: block; text-align: center; margin-bottom: 52px; transition: all 0.3s;}
.main_process .con_wrap .process_con .process_list>li .con_dot {display: block; position: relative; top:2px; width: 9px; height: 9px; border-radius: 50%; background: #ddd; margin: 0 auto; transition: all 0.3s;} 
.main_process .con_wrap .process_con .process_list>li .con_dot:after {content: ''; position: absolute; display: block; opacity:0; left: 50%; top: 50%; margin: -9.5px 0 0 -9.5px; width: 19px; height: 19px;  border-radius: 50%; border: 2px solid #22b1bc; transition: all 0.3s;}
.main_process .con_wrap .process_con .process_list>li p {display: block; position: absolute; left:0; bottom: 0; width: 100%;  text-align: center; color: #222; font-size: 24px; }
.main_process .con_wrap .process_con .process_list>li p>em {text-decoration: none; font-size: 15px; margin-bottom: 20px;}
.main_tit { font-size: 30px; color: #222; font-weight: 900; text-align: center;}
.main_sub_tit {font-size: 16px; font-weight: 400; letter-spacing: -0.25px; line-height: 1.8; word-break: keep-all; text-align: center; margin-top: 15px;}


/* process animation */
.main_process .con_wrap .process_con .process_list>li.active .con_img {position: relative; top: -20px; }
.main_process .con_wrap .process_con .process_list>li.active .con_dot {background: #22b1bc; }
.main_process .con_wrap .process_con .process_list>li.active .con_dot:after { opacity: 1; }

/* develope */
.main_develope {padding-top: 160px; position: relative;}
.main_develope .develope_con {padding-top: 40px;}

.develope_img_slider {width: 100%; padding: 0; margin: 0; height: 100%;}
.develope_img_slider .develope_img {display: block;  margin: 0 1.5%; height: auto;}
.develope_img_slider .develope_img span {display: block; width: 100%; height: auto;}
.develope_img_slider .develope_img img {display: block; width: 100%; height: 100%;}

.develope_txt_slider {position: relative; left: -60px; margin: -450px auto 0; width: 75%;  overflow:visible; padding: 150px 50px 0 50px;} 

.develope_txt_slider .develope_txt {height:300px; padding: 150px 55px 0 30px;} 
.develope_txt_slider .develope_txt .develope_txt_inner {height: 150px; background-color: #f2f2f2;  position: relative; box-sizing: content-box;}
.develope_txt_slider .develope_txt .develope_txt_inner:after {content: '\e913'; line-height: 100px; text-align: center; font-family: 'xeicon'; position: absolute; right: -50px; top: -50px; width: 100px; height: 100px; font-size: 24px; color: #fff; border-radius: 50%; background: #0ba9b5 url(../images/icon_plus.png)center center no-repeat;}
.develope_txt_slider .develope_txt h4 {font-size: 6em; font-family: 'Lato'; font-weight: 800;line-height: 1; color: #222; padding-top: 40px; padding-left: 5%; white-space: nowrap;}
.develope_txt_slider .develope_txt h5 {display: inline-block; font-size: 5em; font-family: 'Lato'; font-weight: 800;line-height: 1; color: #222; padding-top: 40px; margin-left: 15%; white-space: nowrap; padding-right: 20px;}

.develope_txt_slider .develope_txt h5.small_tit {font-size: 4em; padding-top: 60px;}
.develope_txt_slider .develope_txt p {display: inline-block; font-size: 16px; padding: 0 30px 0px 0; vertical-align: 12px;}
.develope_txt_slider .develope_txt h5.small_tit + p {vertical-align: -16px;}
.develope_txt_slider .develope_txt .product_img {position: absolute; display: block; left: -30px; bottom: 0; width: 15%; }
.develope_txt_slider .develope_txt .product_img img {width: 100%;}
/* main_contact */
.main_contact {background: #f2f2f2; padding-bottom: 250px; background: #f2f2f2 url(../images/main_con_cm_bg.jpeg) center bottom no-repeat; -webkit-background-size: contain; background-size: contain;}
.main_contact .main_contact_inner{padding-top: 300px; margin: 0 auto; max-width: 1100px; }
.main_contact h3 {text-align: center; font-size: 30px; color: #222; font-weight: bold;}

.main_contact .contact_inner {margin-top: 50px; }
.main_contact .contact_inner .contact_left_inner {float: left; width: 49%; margin-right: 1%; height: 340px; position: relative;}
.main_contact .contact_inner .contact_left_inner .left_input_box li {margin-top: 25px; border-bottom: 1px solid #ddd;}
.main_contact .contact_inner .contact_left_inner .input_text label {float: left; width: 125px; line-height: 40px;}
.main_contact .contact_inner .contact_left_inner .input_text input {display: inline-block; width: calc( 100% - 125px); line-height: 40px; background: none; border: none; }
.main_contact .contact_inner .contact_left_inner .input_text select {display: inline-block; width: calc( 100% - 125px); line-height: 40px; background: none; border: none; padding-left: 30px; text-align: right;}

.main_contact .contact_inner .contact_left_inner .agreement_wrap {position: absolute; left: 0; right: 0; bottom:0;}
.agreement_wrap .contact_view {float: left; width: 148px; height: 38px; line-height: 38px; font-size: 13px; text-align:  center; border: solid 1px #222;}
.agreement_wrap .contact_view .xe_icon {display: inline-block; margin-left: 12px;}
.agreement_wrap .contact_view .xe_icon:before {content: "\e97a"; }
.agreement_wrap .checkbox_wrap {float: right; font-size: 15px; }

.agreement_wrap input[type="checkbox"]:checked + label {color: #0ba9b5;}
.agreement_wrap input[type="checkbox"] + label {display: inline-block; vertical-align: middle;}
.agreement_wrap input[type="checkbox"] + label .xe_icon {display: inline-block; font-size: 24px; vertical-align: middle;}
.agreement_wrap input[type="checkbox"] + label .xe_icon:before {content: "\e92c"; }

.agreement_wrap .list_wrap .list_wrap_inner {border: 1px solid #ddd; width: 100%; height: 400px; padding: 20px; font-size: 13px;}
.agreement_wrap .list_wrap .list_wrap_inner a {color: #0066cc; text-decoration: underline;}
.agreement_wrap .list_wrap .list_wrap_inner p {margin-top: 20px;}
.main_contact .contact_inner .contact_right_inner {float: left; position: relative; width: 49%; margin-left: 1%; height: 340px; padding-top: 25px;}
.main_contact .contact_inner .contact_right_inner textarea {
    width: 100%; height: 210px; padding: 20px; color: #aaa; font-size: 15px; border: none; background-color:#fff; resize: none; box-sizing: border-box; margin-top: 10px;
}
.main_contact .contact_inner .contact_right_inner .submit_text {
    position: absolute; left: 0; right: 0; bottom: 0;
    display: block; background: #222; color: #fff; font-size: 15px; line-height: 60px; height: 60px; width: 100%; border: none;
}


/* 푸터 */
#footer {padding: 0 15px;}
#footer .top_footer {line-height: 1;}

#footer .top_footer .footer_menu:after {content: ''; display: block; clear: both;}
#footer .top_footer .footer_menu li {float: left;}
#footer .top_footer .footer_menu li:not(:first-child) {margin-left: 30px;}
#footer .top_footer .footer_menu li a {display: block; color: #222; font-size: 13px;}
#footer .top_footer .footer_menu li.on a {color: #0ba9b5;}


#footer .bottom_footer {padding: 35px 0 40px; overflow: hidden;}
#footer .bottom_footer:after {content: ''; display: block; clear: both;}
#footer .bottom_footer dl {float: left;}
#footer .bottom_footer dl dt {font-size: 13px; font-weight: 900; color: #222; margin-bottom: 35px;}
#footer .bottom_footer dl dd {font-size: 13px; color: #222;}
#footer .bottom_footer dl dd:not(:nth-child(2)) {margin-top: 15px;}
#footer .bottom_footer dl dd span {font-size: 13px; color: #aaa;}
#footer .bottom_footer dl.footer_infomation {width: 18%;}
#footer .bottom_footer dl.footer_contact {width: 18%;}
#footer .bottom_footer dl.footer_location {width: 64%;}

#footer .bottom_footer dl.footer_infomation dd {padding-left: 80px; position: relative;}
#footer .bottom_footer dl.footer_contact dd {padding-left: 30px; position: relative;}
#footer .bottom_footer dl.footer_location dd {padding-left: 115px; position: relative;}
#footer .bottom_footer dl dd span {position: absolute; left: 0; top: 50%; transform: translateY(-50%);}

#footer .bottom_footer .footer_copyright {padding-top: 55px; clear: both; font-size: 13px; color: #222;}
#footer .bottom_footer .footer_copyright span {color: #0ba9b5;}
/* 데스크탑 1440 분기점 */
@media screen and (max-width:1440px) {
    .main_slider_wrap .main_slider .slide2 .symbol {height:487px; bottom: 120px;}
}

/* 메인 회사소개 섹션 분기점 */
@media screen and (max-width:1285px) {

    .main_com .txt_con {padding: 45px 45px 0;}
    .main_com .txt_con li {float: left; width:50%;}
    .main_com .right_com2 .txt_con {padding-top: 25px;}
    .main_com .right_com2 .txt_con h3 {padding-bottom: 10px; margin-bottom: 10px;}
    .main_com .right_com2 .txt_con li { margin-bottom: 4px;}

    .main_com .left_com {width:40%;}
    .main_com .left_com .txt_con li {float: none;}

    .main_com .right_com {width:60%;}
    .main_com .right_com .bg {width:100%; height:175px;}
    .main_com .right_com .bg .txt_wrap {padding: 45px 45px 0;}
    .main_com .right_com .txt_box {width: 100%; height: 175px;}
    
}







/* 타블렛 분기점*/
@media screen and (max-width:1200px) {
    #header {height: 80px;}

    /* z-index: 0있으면 안쪽요소중 z-index음수더라도 부모아래로 못내려감 */
    #header .header_inner {height: 80px; z-index:100; transition: all 0s 0s;}
    body.on #header .header_inner {background: #fff; transition: all 0s 0.5s;}

    #header .logo img {height:80px;}
    #header .gnb {display: none;}

    #header .btn_sitemap {display: none;}
    #header .util_wrap {right:70px;}

    #header .btn_side {
        display: block;
        position: absolute;
        right:20px;
        top:50%;
        margin-top:-16px;
        width: 32px;
        height:32px;
        padding: 5px 0;
        border:none;
        background: none;
    }
    #header .btn_side span {
        position: absolute;
        left:50%;
        top:50%;
        margin:-1px 0 0 -9px;
        width:18px;
        height:2px;
        background: #666;
        transition: all 0.4s;
        transform-origin: left center;
    }
    #header .btn_side span:nth-child(1) {margin-top:-7px;}
    #header .btn_side span:nth-child(3) {margin-top:5px;}

    #header .btn_side.on span:nth-child(1) {
        transform:rotateZ(45deg);
        margin-left:-7px;
        background: #000;
    }
    #header .btn_side.on span:nth-child(2) {opacity: 0;}
    #header .btn_side.on span:nth-child(3) {
        transform:rotateZ(-45deg);
        margin-left:-7px;
        margin-top: 6px;
        background: #000;
    }

    /* 모바일 사이드메뉴 */
    #header .side_menu {
        display: block;
        position: fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background: #fff;
        transform:translateX(100%);
        transition: all 0.5s;
        overflow: auto;
        /* 제일 아래로 내려가서 body안쪽요소에 의해 가려짐 */
        /* z-index: -1; */
        padding-top:80px;
        line-height: 1;
    }
    #header .side_menu.on {transform:translateX(0);}

    #header .side_menu .depth1>li>a {
        display: block;
        padding: 30px 35px;
        font-size: 21px;
        color:#000;
    }
    #header .side_menu .depth1>li>a i {float: right;}
    #header .side_menu .depth1>li>a .remove {display: none;}
    #header .side_menu .depth1>li>a.on .remove {display: block;}
    #header .side_menu .depth1>li>a.on .add {display: none;}


    #header .side_menu .depth2 {background: #f5f5f5; display: none; padding: 20px 0;}
    #header .side_menu .depth2 a {display: block; padding: 20px 55px; font-size: 18px; color:#222;}

    .main_slider_wrap .main_slider .slide2 .symbol {height:387px; bottom: 120px;}

    #footer .top_footer {font-size: 12px;}
    #footer .bottom_footer dl {font-size: 12px;}
    #footer .bottom_footer dl.footer_infomation {width: 50%;}
    #footer .bottom_footer dl.footer_contact {width: 50%;}
    #footer .bottom_footer dl.footer_location {float: none; width: 100%; display: block; clear: both; padding-top: 30px;}
}

/*  분기점  */
@media screen and (max-width:1120px) {
    
    .main_process .con_wrap .process_con .process_list {padding: 0 0 ;}
    .main_process .con_wrap .process_con .process_list>li .con_img {margin-bottom:59px;}
    .main_process .con_wrap .process_con .process_list>li .con_img img {width: 40px; height: 40px;}
    .main_process .con_wrap .process_con .process_list>li p {display: block; position: absolute; left:0; bottom: 0; width: 100%;  text-align: center; color: #222; font-size: 15px; }
    .main_process .con_wrap .process_con .process_list>li p>em {text-decoration: none; font-size: 16px; margin-bottom: 20px;}
}

/*  분기점  */
@media screen and (max-width:1024px) {
    .main_contact .main_contact_inner {margin: 0 auto; width: 740px; font-size: 13px !important;}
    .main_contact .contact_inner .contact_left_inner {float:none; display: block; margin: 0 auto; width: 100%;}
    .main_contact .contact_inner .contact_right_inner {float:none; display: block; margin: 0 auto; width: 100%;}
}

/*  분기점  */
@media screen and (max-width:800px) {
    .main_contact {padding: 0 15px 150px; }
    .main_contact .main_contact_inner {width: 100%; padding-top: 100px;}
    .main_process .con_wrap .process_con:after {content: ''; position: absolute; display: block; width: 100%; height: 1px; background: #ddd; top: 120%; margin-top: 4.5px; z-index: -1;}

    .main_process .con_wrap .process_con .process_list>li {position: relative; float: left; width: 25%; min-height: 100px; transform: translateY(53px);}

    .main_process .con_wrap .process_con .process_list>li:nth-child(n+5) {margin-top: 40px;}

    .main_process .con_wrap .process_con .process_list>li .con_img {margin-bottom: 20px;}

    .main_process .con_wrap .process_con .process_list>li .con_img img { width:25px; height: 25px; text-align: center; }

    .main_process .con_wrap .process_con .process_list>li .con_dot {display: block; position: relative; top:2px; width: 9px; height: 9px; border-radius: 50%; background: #ddd; margin: 0 auto; transition: all 0.3s;} 

    .main_process .con_wrap .process_con .process_list>li p {display: block; position: absolute; left:0; bottom: 0; width: 100%;  text-align: center; color: #222; font-size: 13px; }
    .main_process .con_wrap .process_con .process_list>li p>em {text-decoration: none; font-size: 12px; margin-bottom: 20px;}
    .develope_img_slider .develope_img {display: block;  margin: 0 auto; width: 100%; height: 100%;}
    .develope_img_slider .develope_img span {display: block; width: 100%; height: 100%;}
    .develope_img_slider .develope_img span img {height: 100%; width: 100%;}
}


/* 모바일 분기점 */
@media screen and (max-width:767px) {
    #header {height:60px;}
    #header .header_inner {height:60px;}

    #header .logo img {height: 60px;}
    #header .btn_side {right:10px;}

    #header .util_wrap {right:50px;}
    #header .util_wrap .lang li {width:40px;}
    #header .util_wrap .lang li a {font-size: 10px;}

    #header .sitemap_wrap {display: none !important;}

    #header .side_menu {padding-top: 60px;}
    #header .side_menu .depth1>li>a {font-size: 15px; padding:20px 25px;}
    #header .side_menu .depth2 a {font-size: 13px; padding:15px 40px;}

    .main_slider_wrap .main_slider {height: auto; padding-bottom: 50px;}
    .main_slider_wrap .main_slider .swiper-slide {background: none;}
    .main_slider_wrap .main_slider .slide2 .symbol {display: none;}
    .main_slider_wrap .main_slider .txt_wrap {
        text-align: center;
        top:20%;
        margin-top:0;
    }
    .main_slider_wrap .main_slider .txt_wrap p {font-size: 10px;}
    .main_slider_wrap .main_slider .txt_wrap h3 {font-size: 42px;}

    .main_slider_wrap .main_slider .img_m {display: block; width: 100%;}
    .main_slider_wrap .main_slider .btn_wrap {bottom: -20px;}
    .main_slider_wrap .main_slider .btn_wrap .btn_arrow {width: 50px; height:50px;}
    .main_slider_wrap .main_slider .btn_wrap .btn_arrow i {font-size: 26px;}
    .main_slider_wrap .main_slider .btn_wrap .swiper-button-next {left:auto; right:15px;}

    /* 데스크탑 company 리스트 */
    .main_com {display: none;}

    .main_com_m {display: block; padding: 0 15px;}
    .main_com_m .list_com>li {float: left; width:50%; background: yellowgreen;height: 45vw; color:#fff; padding:6.5%; word-break: keep-all;}
    .main_com_m .list_com>li h3 {font-weight: 900; position:relative;}
    .main_com_m .list_com>li:nth-child(3n+1) h3 {text-align: center;}

    .main_com_m .list_com>li:first-child {background: url(../images/main_con01_img01_m.jpg) no-repeat; background-size: cover;}
    .main_com_m .list_com>li:nth-child(2) {background: #2bb673;}
    .main_com_m .list_com>li:nth-child(3) {background: #0ba9b5;}
    .main_com_m .list_com>li:nth-child(4) {background:url(../images/main_con01_img04_m.jpg) no-repeat; background-size:cover;}

    .main_com_m .list_com .list_txt {font-size: 11px;}

    /* 1, 4번리스트 제외한 나머지 리스트 */
    .main_com_m .list_com>li:not(:nth-child(3n+1)) h3 {
        padding-bottom:15px;
        margin-bottom: 15px;
    }
    .main_com_m .list_com>li:not(:nth-child(3n+1)) h3:after {
        content: '';
        position: absolute;
        left:0;
        bottom:0;
        width:25px;
        height:1px;
        background: #fff;
    }
    .main_com_m .list_com>li:nth-child(3) .list_txt li {float: left; width:50%;}

    .main_com_m .list_com>li:last-child {width: 100%; height: auto; padding: 0;}
    .main_com_m .list_com>li:last-child img {width:100%;}
    /* hegiht높이를 vw로 잡을 경우 창 크기에 따라 계속 줄어 들으므로 320일때의 최소 높이인 */
    .main_com_m .list_com>li:not(:last-child) {min-height: 144px;}
}